%section
  %h2 Hello!
  
  %article
    %p I'm Francesco Canessa, a software developer specialized in web development. Contact me, I like software, open source and beer!
    %p.this_vcard This is my vcard, feel free to add it to your address book!
  
    %address#hcard-Francesco-Canessa.vcard
      %img.photo{:alt => "photo of ", :src => "http://www.gravatar.com/avatar/88e8edffe72efdfadf6b50bb17d50957?s=128&d=identicon&r=PG"}/

      %a.url.fn{:href => "http://francescocanessa.com"} Francesco Canessa
      %span.org
        %a.url.fn.org{ href: "http://makevoid.com" } makevoid
      %a.email{:href => "mailto:makevoid@gmail.com"} makevoid@gmail.com
      %a.url.skype{ href: "skype:makevoid?chat"} skype: makevoid
      .adr
        %a{ href: "http://maps.google.com/maps?q=makevoid,+Firenze" }
          .street-address via Bandini 15
          <span class="locality">Fiesole</span>, <span class="region">Firenze</span>, <span class="postal-code">50014</span>
          %span.country-name Italy
    .clear
        

  %h3 my profiles:
  %ul#profiles
    %li
      %a{ href: "http://makevoid.com" } web
    %li  
      %a{ :href => "http://github.com/makevoid" }         github
    %li                                             
      %a{ :href => "http://twitter.com/makevoid" }        twitter
    %li                                             
      %a{ :href => "http://www.linkedin.com/in/makevoid" }    linkedIn
    %li
      %a{ href: "http://facebook.com/makevoid" } facebook
    %li
      %a{ href: "https://plus.google.com/115648501813381496837/about" } plus    